<md-card class="view" layout="column" layout-align="center center">
        <h2>Drop Player</h2>
		<md-toolbar style="background:#ff5900" id="smallmenu" ng-controller="menu" layout="row">
            <md-button flex ng-click="route('/sign')" id="draft" class="menu-item">Draft Player</md-button>
            <md-button flex ng-click="route('/drop')" id="drop" class="menu-item">Drop Player</md-button>
            <md-button flex ng-click="route('/trade')" id="trade" class="menu-item">Trade Players</md-button>
            <md-button flex ng-click="route('/trades')" id="m_trades" class="menu-item">Check Trades</md-button>
		</md-toolbar>
        <div class="view">
        <form id="login" layout="column" layout-align="center center">
            <select id="assigned_player" name="assigned_player">
                <option ng-repeat="player in my_players" value="{{player.id}}">{{player.name}}</option>
            </select>
            <md-button style="background:#ff5900" class="md-raised md-warn" ng-click="drop()">Drop</md-button>
        </form>
        </div>
    </md-card>