<md-card class="view" layout="column" layout-align="center center" >
	<h2>My Teams</h2>
	<table id="team">
		<thead>
		<tr>
			<th class="team-header">Team Name</th>
			<th class="team-header">League Name</th>
			<th class="team-header">Total Score</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="teams in m_teams track by $index" ng-click="get_team(teams.id, teams.name, teams.league.id, teams.points, teams.money)">
			<td>{{teams.name}}</td>
			<td>{{teams.league.name}}</td>
			<td>{{teams.points}}</td>
		</tr>
		</tbody>
	</table>

	<h2>Top Teams</h2>
	<table id="team">
		<thead>
		<tr>
			<th class="team-header">Rank</th>
			<th class="team-header">Team Name</th>
			<th class="team-header">League Name</th>
			<th class="team-header">Total Score</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="teams in topteams track by $index" ng-click="get_team(teams.id, teams.name, teams.league.id, teams.points, teams.money)">
			<td>{{($index%2)+1}}</td>
			<td>{{teams.name}}</td>
			<td>{{teams.league.name}}</td>
			<td>{{teams.points}}</td>
		</tr>
		</tbody>
	</table>

	<h2>Top Players</h2>
	<table id="team">
		<thead>
		<tr>
			<th class="team-header">Rank</th>
			<th class="team-header">Player Name</th>
			<th class="team-header">League Name</th>
			<th class="team-header">Total Score</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="players in topplayers track by $index" ng-click="route('/player_stats/' + players.player.id)">
			<!-- <td>{{rank}}</td> -->
			<td>{{($index%2)+1}}</td>
			<td>{{players.player.name}}</td>
			<td>{{players.player.league.name}}</td>
			<td>{{get_h_points(players, players.player)}}</td>
			<!-- <td>{{players.Player.weekly.score}}</td> -->
		</tr>
		</tbody>
	</table>
</md-card>
