<md-card class="view" layout="column" layout-align="center center">

	<h2>Trades</h2>
		<md-toolbar style="background:#ff5900" id="smallmenu" ng-controller="menu" layout="row">
				<md-button flex ng-click="route('/sign')" id="draft" class="menu-item">Draft Player</md-button>
				<md-button flex ng-click="route('/drop')" id="drop" class="menu-item">Drop Player</md-button>
				<md-button flex ng-click="route('/trade')" id="trade" class="menu-item">Trade Players</md-button>
				<md-button flex ng-click="route('/trades')" id="m_trades" class="menu-item">Check Trades</md-button>
		</md-toolbar>
	<table id="team">
		<thead>
		<tr>
			<th class="team-header">Other Player</th>
			<th class="team-header">Own Player</th>
			<th class="team-header">Finalize</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="x in trades">
			<td>{{x.player1Id.name}}</td>
			<td>{{x.player2Id.name}}</td>
			<td><button ng-click="finalize_trade(x.id)">Accept</button><button ng-click="delete_trade(x.id)">Deny</button></td>
		</tr>
		</tbody>
	</table>
</md-card>