<md-card class="view" layout="column" layout-align="center center">
	<h2>Trade</h2>
		<md-toolbar style="background:#ff5900" id="smallmenu" ng-controller="menu" layout="row">
			<md-button flex ng-click="route('/sign')" id="draft" class="menu-item">Draft Player</md-button>
			<md-button flex ng-click="route('/drop')" id="drop" class="menu-item">Drop Player</md-button>
			<md-button flex ng-click="route('/trade')" id="trade" class="menu-item">Trade Players</md-button>
			<md-button flex ng-click="route('/trades')" id="m_trades" class="menu-item">Check Trades</md-button>
		</md-toolbar>
	<div class="view">
	<form id="login" layout="column" layout-align="center center">

		<select id="my_player" name="my_player">
        	<option ng-repeat="player in m_players" value="{{player.id}}">{{player.name}}</option>
        </select>
		<select id="other_player" name="other_player">
        	<option ng-repeat="player in o_players" value="{{player.id}}">{{player.name}}</option>
        </select>
		<md-input-container>
			<label>Offer</label>
			$<input type="number" id="offer" min="0" max="100"/> mil
		</md-input-container>
		<md-button style="background:#ff5900" class="md-raised md-warn" ng-click="trade()">Submit Trade</md-button>
    </form>
	</div>
</md-card>